h1 {
    color:rgb(25, 116, 128);
}

.mouseOver {
    opacity: 0;
}

.mouseOver:hover {
    opacity: 1;
}
 .butonRight {
     float: right
 }
 
 .card {
     width: 18rem;
 }

 li {
     list-style-type: none;
 }